/* Общие стили */
body {
    background: #000000;
    color: #fff;
}

/* Стили для ссылок */
a {
    color: #808000;
}

/* Стили для заголовков */
h1 {
    color: #008080;
}

/* Стили для обычного текста */
p {
    color: #008000;
}

/* Стили для упорядоченных списков */
ol {
    color: #008000;
}

/* Стили для логотипа */
.logo {
    float: left;
}

/* Стили для навигации */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}
