/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
}

/* Стили для ссылок */
a {
    color: #808000;
    text-decoration: none;
}

/* Стили для заголовков */
h1 {
    color: #008080;
}

/* Стили для обычного текста */
p {
    color: #008000;
}

/* Стили для упорядоченных списков */
ol {
    color: #008000;
}

/* Стили для логотипа */
.logo {
    float: left;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

/* Стили для навигации */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #E4514A;
    color: #fff;
}
